common --enable_platform_specific_config
common --verbose_failures

build:local --action_env=CC=/usr/local/opt/llvm@20/bin/clang
build:local --action_env=CXX=/usr/local/opt/llvm@20/bin/clang
build:local --action_env=LLVM_CONFIG=/usr/local/opt/llvm@20/bin/llvm-config

build:ci --action_env=CC=/usr/bin/clang-20
build:ci --action_env=CXX=/usr/bin/clang++-20
build:ci --action_env=LLVM_CONFIG=/usr/bin/llvm-config-20

# build:ci --cxxopt=-stdlib=libc++
# build:ci --linkopt=-stdlib=libc++
# build:ci --linkopt=-lc++
# build:ci --linkopt=-lc++abi
# build:ci --linkopt=-lm
# build:ci --linkopt=-lpthread
# build:ci --linkopt=-L/usr/lib/llvm-20/lib
# build:ci --linkopt=-L/usr/lib/x86_64-linux-gnu

build:ci --linkopt=-fuse-ld=mold
build:ci --host_cxxopt=-fuse-ld=mold
common --cxxopt=-std=c++20

build:dbg --compilation_mode=dbg

build:opt --compilation_mode=opt
build:opt --copt=-O3
# build:opt --strip=always
build:opt --features=thin_lto

# .bazelrc
# Address Sanitizer
build:asan --copt=-fsanitize=address
build:asan --copt=-fno-omit-frame-pointer
build:asan --copt=-fno-optimize-sibling-calls
build:asan --copt=-DADDRESS_SANITIZER
build:asan --copt=-g
build:asan --copt=-O1
build:asan --linkopt=-fsanitize=address

# Undefined Behavior Sanitizer
build:ubsan --copt=-fsanitize=undefined
build:ubsan --copt=-fno-omit-frame-pointer
build:ubsan --copt=-fno-optimize-sibling-calls
build:ubsan --copt=-DUNDEFINED_BEHAVIOR_SANITIZER
build:ubsan --copt=-g
build:ubsan --linkopt=-fsanitize=undefined
test:ubsan --test_env=UBSAN_OPTIONS=halt_on_error=1:print_stacktrace=1

# --- ASan + UBSan 组合 ---
build:asan-ubsan --config=asan
build:asan-ubsan --config=ubsan

# Thread Sanitizer
build:tsan --copt=-fsanitize=thread
build:tsan --copt=-fno-omit-frame-pointer
build:tsan --copt=-fno-optimize-sibling-calls
build:tsan --copt=-DTHREAD_SANITIZER
build:tsan --copt=-g
build:tsan --copt=-O1
build:tsan --linkopt=-fsanitize=thread

# Leak Sanitizer
build:lsan --copt=-fsanitize=leak
build:lsan --copt=-fno-omit-frame-pointer
build:lsan --copt=-fno-optimize-sibling-calls
build:lsan --copt=-g
build:tsan --copt=-O1
build:lsan --linkopt=-fsanitize=leak

# Memory Sanitizer (仅 clang)
build:msan --copt=-fsanitize=memory
build:msan --copt=-fno-omit-frame-pointer
build:msan --copt=-fno-optimize-sibling-calls
build:msan --copt=-DMEMORY_SANITIZER
build:msan --copt=-g
build:msan --copt=-O1
build:msan --linkopt=-fsanitize=memory

# 对于 ASan
# export ASAN_OPTIONS="detect_leaks=1:halt_on_error=0:abort_on_error=1:symbolize=1"
# 对于 TSan
# export TSAN_OPTIONS="halt_on_error=1:history_size=7:second_deadlock_stack=1"
# 对于 UBSan
# export UBSAN_OPTIONS="halt_on_error=1:print_stacktrace=1"
