name: bazel run

on:
  push:
    branches:
      - "master"
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: install clang
        run: sudo apt update && sudo apt install -y clang-20 mold

      - name: build
        run: |
          bazel build --config=ci --remote_header=x-buildbuddy-api-key=${{ secrets.BUILDBUDDY_ORG_API_KEY }} //app:usage

      - name: run
        run: |
          ./bazel-bin/app/usage
