name: bazel run

on:
  push:
    branches:
      - "master"
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: bazel-contrib/setup-bazel@0.15.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: install clang
        run: sudo apt update && sudo apt install -y clang-20 mold

      - name: run
        run: |
          bazel run --config=asan --config=ci //app:usage
